.alinharRotulos {
    text-align: right;
}
.alinhaBtns {
    width:19%;
    background-color: black;
    color:white;
    border:0px;
    padding:5px;
    border-radius: 7px;
    cursor: pointer;
}

.carrinho {
    width:300px; 
    float:right;
}
.carrinho p {
    display: inline;
}
table {
    clear:both; 
    background-color: rgb(0, 60, 255);
    border-radius: 16px; 
    color:white;
    padding:27px;
    width:472px;
    margin:auto;
}
caption {
    color:rgb(0, 17, 252); 
    font-weight: bold; 
    font-size: 25px;
}